{% extends "main.html" %}
{% block content %}
{% include "loggedInHeader.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-3 padding-none">
		<img class="image header" src="{{lizard.picture.locate()}}">
	</div>
	<div class="col-md-9 header-text">
		<h1>Edit {{lizard.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 padding-top">
		<form action="{{url_for('editLizard',lizard_id = lizard.id)}}" method = "post">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type ="text" id="name" class="form-control" name="name" value="{{lizard.name}}">
				<div class="padding-bottom"></div>
				<label for="url">Image Url:</label>
				<input type ="text" id="url" class="form-control" maxlength="500" name="url" value="{{lizard.picture_url}}">
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
			</div>
		</form>
		<a button class="btn btn-default delete cancel-lizard" href= "{{url_for('showHobby', lizard_id = lizard.id)}}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		</a>
		<div class="padding-bottom"></div>
		<div class="error">{{error}}</div>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script>
$(document).ready(function() {
  var priorName = $("#name").val(	);
  var priorURL = $("#url").val();
  $("form").submit(function(e) {
    var newName = $("#name").val();
    var newURL = $("#url").val();

    if ((newName === "") || (newURL === "")) {
      $('.error').html("Must have both a Name and a URL");
      e.preventDefault();
    }
    if ((newName === priorName) && (newURL === priorURL)) {
      $('.error').html("Name or URL must change before submitting");
      e.preventDefault();
    }
  });
});
</script>
{% endblock %}
