{% extends "main.html" %}
{% block content %}
{% include "loggedInHeader.html" %}

<div class="row divider blue">
	<div class="col-md-12"></div>
</div>

<div class="row banner main">
	<div class="col-md-12 padding-none text-left lizard-header">
		<h1>All Lizards</h1>
	</div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
		{% for message in messages %}
			<div class="row divider flash">
				<div class="col-md-12">
					<strong> {{ message }} </strong> </li>
				</div>
			</div>
		{% endfor %}
  {% endif %}
{% endwith %}


<div class="row padding-top padding-bottom">
	<div class="col-md-1"></div>
	<div class="col-md-10 padding-none">
		<a button class="btn btn-default" id="new-restaurant" href="{{url_for('newLizard')}}">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Add Lizard
		</a>
	</div>
	<div class="col-md-1"></div>
</div>

{% if recent_activity %}
<div class="row">
	<div class="col-md-6 recent-activity">
<h3>Recent Activity</h3>
<ul>
{% for either in recent_activity %}
	{% if either.table == 'lizard' %}
		{% if either.action == 'new' %}
			<li>Lizard <a href="{{ url_for('showLizard', _anchor=either.lizard_id) }}"><i>{{either.lizard_name}}</i></a> added <span class="time"> {{pretty_date(either.update_instant)}}</span></li>
		{% endif %}
		{% if either.action == 'update' %}
			<li>Lizard <a href="{{ url_for('showLizard', _anchor=either.lizard_id) }}"><i>{{either.lizard_name}}</i></a> updated <span class="time"> {{pretty_date(either.update_instant)}}</span></li>
		{% endif %}
		{% if either.action == 'delete' %}
			<li>Lizard <i>{{either.lizard_name}}</i></a> deleted <span class="time"> {{pretty_date(either.update_instant)}}</span></li>
		{% endif %}
	{% endif %}
	{% if either.table == 'hobby' %}
		{% if either.action == 'new' %}
			<li>Hobby <a href="{{ url_for('showHobby', lizard_id=either.lizard_id, _anchor=either.hobby_id) }}"><i>{{either.hobby_name}}</i></a> added to Lizard <a href="{{ url_for('showLizard', _anchor=either.lizard_id) }}"><i>{{either.lizard_name}}</i></a > <span class="time"> {{pretty_date(either.update_instant)}}</span></li>
		{% endif %}
		{% if either.action == 'update' %}
			<li>Hobby <a href="{{ url_for('showHobby', lizard_id=either.lizard_id, _anchor=either.hobby_id) }}"><i>{{either.hobby_name}}</i></a> updated in Lizard <a href="{{ url_for('showLizard', _anchor=either.lizard_id) }}"><i>{{either.lizard_name}}</i></a > <span class="time"> {{pretty_date(either.update_instant)}}</span></li>
		{% endif %}
		{% if either.action == 'delete' %}
			<li>Hobby <i>{{either.hobby_name}}</i></a> deleted from Lizard <a href="{{ url_for('showLizard', _anchor=either.lizard_id) }}"><i>{{either.lizard_name}}</i></a > <span class="time"> {{pretty_date(either.update_instant)}}</span></li>
		{% endif %}
	{% endif %}
{% endfor %}
</div>
</div>
<div class="row padding-top padding-bottom"></div>
{% endif %}

{% for lizard in lizards %}
<!-- This for loop creates a row with 2 lizards.  This is the left lizard -->
{% if loop.index%2 == 1 %}
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-1"></div>
				<a href = "{{ url_for('showHobby', lizard_id = lizard.id) }}" id={{lizard.id}}>
					<div class="col-md-10 restaurant-list">
						<img class="image" src="{{lizard.picture.locate()}}">
						<figcaption class="text-justify">{{lizard.name}}</figcaption>
					</div>
				</a>
				<div class="col-md-1"></div>
			</div>
		</div>
{% endif %}
<!-- This is the right lizard -->
				{% if loop.index%2 == 0 %}
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-1"></div>
							<a href = "{{ url_for('showHobby', lizard_id = lizard.id) }}" id={{lizard.id}}>
								<div class="col-md-10 restaurant-list">
									<img class="image" src="{{lizard.picture.locate()}}">
									<figcaption class="text-justify">{{lizard.name}}</figcaption>
								</div>
							</a>
							<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="row padding-top padding-bottom"></div>
				{% endif %}
<!-- This is for when there are an odd number of lizards -->
{% if (loop.index == total_lizards) and (loop.index%2 == 1)  %}
	</div>
	<div class="row padding-top padding-bottom"></div>
{% endif %}
{% endfor %}
{% if not lizards %}
	<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>No Lizards in Catalog</h3>
		</div>
		<div class="col-md-1"></div>
	</div>
{% endif %}
{% endblock %}
