{% extends "main.html" %}
{% block content %}
{% include "loggedInHeader.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-3 padding-none">
		<img class="image header" src="{{lizard.picture.locate()}}">
	</div>
	<div class="col-md-9 header-text">
		<h1>New Hobby for {{ lizard.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 padding-top">
		<form action="#" method = "post">
			<div class="form-group">
				<label for="name">Name of hobby:</label>
				<input type ="text" maxlength="50" id="name" class="form-control" name="name" placeholder="Name of the hobby">
				<div class="padding-bottom"></div>
				<label for="description">Description:</label>
				<textarea id="description" class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the hobby"></textarea>
				<div class="padding-bottom"></div>
				<label for="url">Image Url:</label>
				<input type ="text" id="url" class="form-control" maxlength="500" name="url">
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
			</div>
		</form>
		<a button class="btn btn-default delete cancel-hobby" href = "{{url_for('showHobby', lizard_id=lizard.id)}}">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		</a>
		<div class="padding-bottom"></div>
		<div class="error">{{error}}</div>
	</div>
</div>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script> -->
<script>
$(document).ready(function() {
  $("form").submit(function(e) {
    var newName = $("#name").val();
		var newDescription = $("#description").val()
    var newURL = $("#url").val();
    if ((newName === "") || (newDescription === "") || (newURL === "")) {
      $('.error').html("Must have a Name, Description, and a URL");
      e.preventDefault();
    }
  });
});
</script>
{% endblock %}
