{% extends "main.html" %}
{% block content %}
{% if login_session.get("user_id") %}
	{% include "loggedInHeader.html" %}
{% else %}
	{% include "defaultHeader.html" %}
{% endif %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-3 padding-none">
		<img class="image header" src="{{lizard.picture_url}}">
	</div>
	<div class="col-md-7 header-text">
		<h1>{{ lizard.name }}</h1>
	</div>
	<div class="col-md-2 text-center">
		<figure class="creator">
			<img src="{{ creator.picture}}">
			<figcaption>Created by {{ creator.name }}</figcaption>
		</figure>
	</div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
		{% for message in messages %}
			<div class="row divider flash">
				<div class="col-md-12">
					<strong> {{ message }} </strong> </li>
				</div>
			</div>
		{% endfor %}
  {% endif %}
{% endwith %}

{% if hobbies %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2>Hobbies</h2>
				{% for hobby in hobbies %}
					<div class="menu-hobby" id="{{hobby.id}}">
						<div class="row">
							<div class="col-md-5">
								<img class="image" src="{{hobby.picture_url}}">
							</div>
							<div class="col-md-7">
								<h3>{{hobby.name}}</h3>
								<p>{{hobby.description}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
		</div>
		<div class="col-md-1"></div>
	</div>
{% endif %}
	{% if not hobbies %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h2>No hobbies logged yet</h2>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endif %}
<div class="row padding-top padding-bottom"></div>
{% endblock %}
